/* header */

header {
  position: fixed;
  width: 0 auto;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo span {
  color: MediumAquamarine;
  padding: 20px 10px;
}

.navbar {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 40px;
}

.nav {
  padding: 20px 10px;
}

/* maincontent */

.main div {
  border: 1px solid grey;
}

.main {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 78px auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main.large {
  width: 630px;
  flex-direction: column;
}

.main.medium {
  width: 300px;
  flex-direction: column;
}

.main.small {
  width: 240px;
  flex-direction: column;
}

.news {
  display: flex;
}

.news.img1 {
  background-image: url("./images/img-story-main.png");
  background-size: cover;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 10px;
}

.news
